@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+Pro&display=swap');



:root{
    --background: #0c0c0e;
    --font-color: #fff;
    
    
}

/*Home Page Engine*/
html, body{
    background-color: var(--background);
    width: 100%;
    height: 100%;
    
    


}

#image-row{
    width: 1000px;
    
 
}

.box{
    width: 100%;
    height: 400px;
}

#bill{
    height: 500px;
    background-image: url('wildcat.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}



.show-bottom{
position: absolute;
left: 0;
bottom: 0;
right: 0;
width: 100%;
height: 100px;
background-image:  linear-gradient(to bottom, rgba(12, 12, 14, 0.3), rgba(12, 12, 14, 1));
}

.top{
position: absolute;
right: 0;
top: 0;
width: 100%;
height: 100%;
background-image:  linear-gradient(to top, rgba(12, 12, 14, 0.2), rgba(12, 12, 14, 1));

}

.bottom{
position: absolute;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
background-image:  linear-gradient(to bottom, rgba(12, 12, 14, 0.1), rgba(12, 12, 14, 0.8));

}


/******************************************************/


/*Slide One*/

h1{
    font-family: 'Libre Baskerville', serif; 
    font-size: 4rem;
    font-weight: 600;
    color: var(--font-color);
}

h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--font-color);
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--font-color);
}
a{
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--font-color);
}




/*This makes the navbar stay on top of homepage*/
#center-home{
    position: absolute;
    left: 0;
    right: 0;
     
 }

/*background Image full Screen*/
#arrow{
    position: relative;
    background-image: url('field.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

/*Overlay to make homescreen picture darker*/

#center-home{
    position: absolute;
    left: 0;
    right: 0;
     
 }

#hamburger{
    position: absolute;
    top: 40px;
    right: 40px;
    

    
}



#hamburger-button{
  background-color: transparent;
  border-color: transparent;
    
}

.overlay{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay a{
    display: block;
    font-size: 36px;
    margin: 30px;
    transition: 0.5s;
}

.close-hamburger{
    position: absolute;
    top: 40px;
    right: 40px;
}




.nav-item a{
    transition: all .2s ease-in-out;
    font-weight: 800;
}

.nav-item a:hover{
    color: #674cda;
    transform: scale(1.2);
    
    
}

/******************************************************/


/*This is what makes the video display*/

.trailer{
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background: rgba(0, 0, 0, 0.95);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    
}

.trailer.active{
    display: flex;
    visibility: visible;
    opacity: 1;
}

.trailer video{
    position: relative;
    max-width: 950px;
 
}



/*******************/
/*Description Sections Text*/
.info{
    max-width: 600px;
}

/*******************/



.close{

    position: absolute;
    top: 40px;
    right: 40px;
    filter: invert(1); 

}

@media(max-width: 991px){

    .trailer video{
        
        max-width: 90%;
     
    }

}




/*******************/
/*Buttons*/

.btn-outline-light{
    padding: 15px;
    border: 3px solid #fff;
    border-radius: 40px;
}



.btn-outline-light:hover{
    color:#674cda ;
    background: rgba(0, 0, 0, 0.6);
    border: 3px solid #674cda;

}

/*******************/












